.flex-gallery {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	width: 100%;
	
}
.gallery{
    text-align: left ;
    width: 430px;
		margin: 1.5rem;
		background-color: var(--succes);
    border: 2px solid var(--primary);
		border-radius: 5px;
    display: flex;
    font-size: 14px;
		padding: 1rem;
 }
 .gallery img {
	object-fit: cover;
	width: 150px;
	border-radius: 5px;
	height: 180px;
 }
 .gallery .desc {
	font-size: 1rem;
	padding: 1rem;
 }
 .gallery .desc h5 {
	color: var(--primary);
 }