:root {
  --primary: #fdfdbd;
  --primary-variant: #c8ffd4;
  --secondary: #b8e8fc;
  --secondary-variant: #b1afff;
  --error: #b00020;
  --succes: #c8ffd4;
  --surface: #fff;
	--text-color: #000;
	--text-color-primary:#29b35f;
}
body {
	background-color: var(--primary);
}
video {
  width: 500px;
  display: block;
  margin: 2.5rem auto;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.4);
}
table {
  border-collapse: collapse;
	margin: 0 auto;
	overflow-x: auto;
}
legend {
	text-align: center;
	font-size: 5rem;
	font-family: flora;
	margin: 0 0 1rem 0;
	color: var(--text-color-primary);
}
.konten {
	width: 70%;
	background-color: var(--surface);
	display: block;
	border-radius: 1rem;
	margin: 3rem auto;
	padding: 1rem;
}

@font-face {
	font-family: flora;
	src: url(../font/FloralFourDemo-rgAJx.otf);
}
h1 {
	text-align: center;
}
table tr th,
table tr td {
  border: 2px solid black;
	padding: 0.5rem;
	text-align: center;
}
table tr td a{
	text-decoration: none;
	font-size: 2rem;
}
table tr td #print {
	color: var(--text-color-primary);
}
table tr td #edit {
	color: yellow;
}
table tr td #delete{
	color: red;
}

@media screen and (max-width: 500px) {
  video {
    width: 250px;
  }
}
