.karyawan {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.karyawan .grup {
  width: 450px;
  margin: 1rem 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.form-qrcode input,
.karyawan .grup input,
.karyawan .grup select {
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  border: 2px solid var(--text-color-primary);
}
.karyawan .grup label {
  margin: 0 0 0 2px;
}

.form-qrcode {
  display: flex;
  justify-content: center;
	margin: 2.5rem 0 1rem 0;
}
.form-qrcode input[type=submit]{
	background-color: var(--succes);
	margin-left: 1rem;
}
